* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(252, 249, 246);
  background: radial-gradient(circle, #c1e2be 0%, #c8e3cf 50%, #ffffff 100%);
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  text-align: center;
  margin: 0 auto;
  /* background-color: black; */
  padding: 0 30px;
}

.main {
  color: black;
  line-height: 2;
  padding-top: 80px;
}

.main h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.navbar {
  background-color: rgb(255, 255, 255, 0.7);
  color: black;
  color: black;
  height: 60px;
  position: fixed; /* 고정되도록 */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(100%);
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
  color: #ddd;
}

button {
  background-color: lightgrey;
  padding: 4px 10px;
  margin: 4px 6px 0 0;
  font-size: 14px;
  font-weight: bold;
  border-width: 0;
  border-radius: 15px;
}

button:hover {
  background-color: rgb(206, 225, 167);
}

.hero {
  background-image: url('../image/행운2.jpg');
  background-size: cover;
  background-position: center;
  align-items: center;
  color: white;
  text-align: center;
  height: 100vh;
  position: relative;
  /*margin-top: 60px; / 네비게이션 아래 공간 확보 */
}

.hero-content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-btn {
  padding: 12px 24px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 25px;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: #b2deac;
  color: #fff;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 60px 20px;
  text-align: left;
}

.about img {
  max-width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-text {
  max-width: 500px;
  font-size: 18px;
  line-height: 2;
}

.about-text p::before {
  margin-right: 5px;
  color: #555;
}

.photo-view {
  width: 300px;
  height: 250px; /* 고정 높이 */
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

#fig {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.animation {
  animation-duration: 3s;
  animation-name: slidein;
}

footer {
  padding: 10px;
  margin-top: 20px;
  color: black;
  background-color: #fcfcfc;
  text-align: center;
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@media (max-width: 768px) {
  .navbar .container {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .navbar {
    background-color: rgb(255, 255, 255);
    height: auto;
  }
}
